<section id="about" class="hero is-success is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title" class="header black-text">{{ 'default.about.header0'|trans({}, 'main') }}</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <span class="icon is-large">  <i class="fa fa-instagram"></i></span>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <h3 class="center subtitle">{{ 'default.about.header1'|trans({}, 'main') }}</h3>
                        <p class="light">{{ 'default.about.parag1'|trans({}, 'main') }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <span class="icon is-large">  <i class="fa fa-rocket"></i></span>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <h3 class="center subtitle">{{ 'default.about.header3'|trans({}, 'main') }}</h3>
                        <p class="light">{{ 'default.about.parag3'|trans({}, 'main') }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <span class="icon is-large">  <i class="fa fa-users"></i></span>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <h3 class="center subtitle">{{ 'default.about.header2'|trans({}, 'main') }}</h3>
                        <p class="light">{{ 'default.about.parag2'|trans({}, 'main') }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

