{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <section id="intro" class="full-section intro-logged-section">
            <div class="view container-fluid">
                <div class="container">
                    <div class="row center center-block center-align">
                        <div class="col s0 m2 l3 xl3">
                        </div>
                        <div class="col s12 m8 l6 xl6">
                            <img class="responsive-img" src="{{ asset('asset/img/white-png-1200px.png') }}">
                        </div>
                    </div>
                    <div class="row center center-block center-align">
                        <div class="col s12">
                            <h2 class="white-text">Cieszymy się, że jesteś z nami!</h2>
                        </div>
                    </div>
                    <div class="row center center-block center-align">
                        <div class="col s12">
                            <a href="{{ path('account_new') }}"
                               class="waves-effect btn-large waves-pink btn-flat pink darken-2 white-text"><b>Dodaj nowe
                                    konto!</b></a>
                        </div>
                    </div>
                    <div class="row center center-block center-align">
                        <div class="col s12">
                            <h5 class="white-text">jeśli dodałeś już konto przejdź do <a class="white-text"
                                                                                         href="{{ path('account_index') }}"><b><i>listy
                                            kont</i></b></a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

    {% else %}

        <section id="intro" class="full-section intro-section">
            <div class="view container-fluid">
                <!--Intro content-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l6 xl6">
                            <img class="responsive-img" src="{{ asset('asset/img/white-png-1200px.png') }}">
                        </div>
                        <div class="col s12 m12 l6 xl6 center-on-small-only">
                            <h2 class="white-text">Zwiększ swój zasięg, oszczędź czas!</h2>
                        </div>
                    </div>
                    <div class="row center center-block center-align">
                        <div class="col s12">
                            <a href="{{ path('fos_user_registration_register') }}"
                               class="waves-effect btn-large waves-pink btn-flat pink darken-2 white-text"><b>Rozpocznij
                                    już teraz!</b></a>
                        </div>
                    </div>
                    <div class="row center center-block center-align">
                        <div class="col s12 white-text">
                            <span>jeśli masz konto, <a class="white-text"
                                                       href="{{ path('fos_user_security_login') }}"><b><i>zaloguj się</i></b></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    <section id="services" class="full-section services-section">
        <div class="container">
            <div classes="row">
                <div class="col s12">
                    <h3>liqster.pl - narzędzie do zwiększania Twojego zasięgu na instagramie!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l8 xl8">
                    <div class="row">
                        <div class="col s2 ">
                            <i class="medium material-icons">list</i></div>
                        <div class="col s10">
                            <p>liqster zostawia aktywność wśród zdjęć z wybranych przez Ciebie #tagów, dzięki temu
                                możesz
                                zachęcić osoby o wybranych przez Ciebie zainteresowaniach do odwiedzin Twojego
                                profilu!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 ">
                            <i class="medium material-icons">comment</i></div>
                        <div class="col s10">
                            <p>liqster zostawia komentarze w Twoim imieniu, o treści, którą sam stworzysz! Nie wiesz
                                jaki komentarz zostawić? Skorzystaj z gotowych przykładów!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 ">
                            <i class="medium material-icons">thumb_up</i></div>
                        <div class="col s10">
                            <p>Zachęć aktywnych użytkowników do odwiedzin Twojego profilu poprzez pozostawianie polubień
                                pod ich najnowszymi postami!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 ">
                            <i class="medium material-icons">trending_up</i></div>
                        <div class="col s10">
                            <h4>Zrelaksuj się i obserwuj jak Twoja popularność rośnie!</h4>
                        </div>
                    </div>
                </div>
                <div class="col l4 xl4 hide-on-med-and-down">
                    <h1>kot miau</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="large material-icons">list</i></h2>
                        <h5 class="center">Wybór hashtagów</h5>

                        <p class="light">Liqster zostawia aktywność wśród zdjęć z wybranych przez Ciebie hashtagów, dzięki temu możesz zachęcić osoby o wybranych przez Ciebie zainteresowaniach do odwiedzenia Twojego profilu! Nie masz pomysłu jakich hashtagów użyć? Skorzystaj z listy 100 najpopularniejszych tagów na Instagramie, którą możesz znaleźć przy edycji konta! </p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="large material-icons">comment</i></h2>
                        <h5 class="center">Tworzenie komentarzy</h5>

                        <p class="light">Liqster zostawi w Twoim imieniu komentarze o treści, którą sam stworzysz! Nie wiesz jakie komentarze zostawiać? Skorzystaj z gotowych przykładów komentarzy!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="large material-icons">thumb_up</i></h2>
                        <h5 class="center">Polubienia</h5>

                        <p class="light">Zachęć użytkowników do odwiedzin Twojego profilu poprzez pozostawianie polubień pod ich najnowszymi postami!</p>
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col s12">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="large material-icons">trending_up</i></h2>
                        <h5 class="center">Wzrost zainteresowania</h5>

                        <p class="light">Zrelaksuj się i obserwuj jak zainteresowanie Twoim profilem wzrasta!</p>
                    </div>
                </div>
                </div>


        </div>
    </section>

    <section id="price" class="full-section price-section">
        <div class="container">
            <div class="col-lg-12">
                <h1>Prices</h1>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i2.wp.com/thatnordicfeeling.com/wp-content/uploads/2016/08/Summer16.jpg?resize=1080%2C1080">
                            <span class="card-title">Pakiet podstawowy</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>szacowana cena + to co się przy wyborze xpppakietu otrzymuje</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.obsession4fashion.com/wp-content/uploads/2016/12/ANDY-MAC-STREET-LIFESTYLE-PHOTOGRAPHY-6.jpg">
                            <span class="card-title">Pakiet rozszerzony</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/14295542_863247700476732_4890544320672694272_n.jpg?ig_cache_key=MTM0NTY2NTEyMTA3ODMzNDU2MQ%3D%3D.2">
                            <span class="card-title">Pakiet profesjonalny</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                        class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="full-section about-section">
        <div class="container">
            <div class="row">
                <div class="center col-lg-12">
                    <h1 class="header black-text">O Liqsterze</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">do wypełnienia</h5>

                        <p class="light">tutaj nie mam pomysłu co wpisać. brak weny. coś o trzech rzeczach które można z
                            tego mieć. lajki, share'y itp...</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create
                            a framework that incorporates components and animations that provide more feedback to users.
                            Additionally, a single underlying responsive system across all platforms allow for a more
                            unified user experience.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-white-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions to
                            provide a smoother experience for developers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="full-section contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
{% endblock %}


{% block body %}

{% endblock %}
