<section id="intro" class="section">
    <div class="container is-fluid">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h4 class="center-align white-text">Liqster to doskonałe narzędzie do
                        rozwoju Twojego konta na Instagramie! Z naszą pomocą Twoje zdjęcia zobaczą tysiące osób.
                        Zwiększaj swój zasięg, oszczędzaj czas!</h4>
                </div>
                <div class="column is-half">
                    <div class="card">
                        <div class="card-content">

                            <form action="{{ path('fos_user_registration_register') }}" method="post">
                                <div id="fos_user_registration_form">

                                    <div class="input-field">
                                        {{ form_widget(form.email, { 'attr': {'class': '' } }) }}
                                        {{ form_label(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>

                                    <div class="input-field">
                                        {{ form_widget(form.username, { 'attr': {'class': ''} }) }}
                                        {{ form_label(form.username) }}
                                        {{ form_errors(form.username) }}
                                    </div>

                                    <div class="input-field">
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': ''} }) }}
                                        {{ form_label(form.plainPassword.first) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>

                                    <div class="input-field">
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': '' } }) }}
                                        {{ form_label(form.plainPassword.second) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </div>

                                    {{ form_rest(form) }}

                                </div>
                                <div class="s12">
                                    <input class="btn btn-lg btn-primary right" type="submit"
                                           value="Zarejestruj się">
                                </div>
                            </form>
                        </div>
                        <div class="card-content">
                            <div class="center-align">
                                <p>Rejestrując się w liqster.pl akceptujesz <a href="#">Regulamin Serwisu</a> oraz <a
                                            href="#">Zasady Ochrony Danych
                                        Osobowych</a> (@TODO)</p>
                            </div>
                            <hr class="line">
                            <div class="center-align">
                                <span>Jeśli masz już konto, <a href="{{ path('fos_user_security_login') }}"><b><i>zaloguj się</i></b></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
