{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}

<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <nav class="panel">
                        <p class="panel-heading">{{ user.username }}</p>

                        <a class="panel-block" href="{{ path('profile_index') }}">
                        <span class="panel-icon">
                            <i class="fa fa-book"></i>
                        </span>
                            <span>Edytuj dane</span>
                        </a>

                        <a class="panel-block" href="{{ path('profile_setting') }}">
                        <span class="panel-icon">
                            <i class="fa fa-book"></i>
                        </span>
                            <span>Ustawienia profilu</span>
                        </a>

                        {#<a class="panel-block" href="{{ path('profile_notifications') }}">#}
                        {#<span class="panel-icon">#}
                        {#<i class="fa fa-book"></i>#}
                        {#</span>#}
                        {#<span>Powiadomienia</span>#}
                        {#</a>#}

                        <a class="panel-block" href="{{ path('profile_billing') }}">
                        <span class="panel-icon">
                            <i class="fa fa-book"></i>
                        </span>
                            <span>Płatności</span>
                        </a>

                        <a class="panel-block" href="{{ path('profile_deactivatedAccounts') }}">
                        <span class="panel-icon">
                            <i class="fa fa-book"></i>
                        </span>
                            <div class="columns">
                                <div class="column is-10">
                                    <span>Dezaktywowane konta</span>
                                </div>
                                <div class="column is-2">
                                    {{ render(controller('LiqsterHomePageBundle:Profile:deactivatedAccountsCounter')) }}
                                </div>
                            </div>
                        </a>

                        <a class="panel-block" href="{{ path('profile_security') }}">
                        <span class="panel-icon">
                            <i class="fa fa-book"></i>
                        </span>
                            <span>Bezpieczeństwo</span>
                        </a>
                    </nav>
                </div>

                {% endblock %}

                {% block body %}

                <div class="column">
                    <div class="card">
                        <div class="card-content">

                            {% block body_on_single_page %}

                                <div class="columns">
                                    <div class="column">
                                        <p class="title is-4">Edycja danych podstawowych</p>

                                        {{ form_start(edit_form) }}

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_form.username, null, {'label_attr': {'class': 'label'}}) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_form.username, { 'attr': {'class': 'input' } }) }}
                                                        <span class="icon is-small is-left"><i
                                                                    class="fa fa-user"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_form.email, null, {'label_attr': {'class': 'label'}}) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_form.email, { 'attr': {'class': 'input' } }) }}
                                                        <span class="icon is-small is-left"><i
                                                                    class="fa fa-envelope"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-grouped is-pulled-right">
                                            <p class="control">
                                                <input class="button is-primary is-centered" type="submit" id="_submit"
                                                       name="_submit"
                                                       value="Zapisz"/>
                                            </p>
                                        </div>

                                        {{ form_widget(edit_form) }}
                                        {{ form_end(edit_form) }}
                                    </div>
                                </div>

                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts_on_single_page %}

{% endblock %}
