{% extends '@LiqsterHomePage/base.html.twig' %}

{% block header %}
<section class="hero is-fullheight is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <h2 class="title">Tutaj możesz edytować swoje dane, oraz skontrolować swoje płatności i
                    bezpieczeństwo! </h2>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ user.username }}<i
                                class="material-icons right"></i></span>
                            <p><a href="{{ path('account_index') }}"><h2>Lista kont</h2></a></p>
                            <ul class="">
                                <li><a class="collection-item" href="{{ path('profile_index') }}"><h2>Edytuj dane</h2>
                                    </a>
                                </li>
                                <li><a class="collection-item" href="{{ path('profile_setting') }}"><h2>Zmień hasło</h2>
                                    </a>
                                </li>
                                <li><a class="collection-item" href="{{ path('profile_notifications') }}"><h2>
                                            Powiadomienia
                                            email</h2></a></li>
                                <li><a class="collection-item" href="{{ path('profile_billing') }}"><h2>Płatności</h2>
                                    </a>
                                </li>
                                <li><a class="collection-item" href="{{ path('profile_security') }}"><h2>
                                            Bezpieczeństwo</h2>
                                    </a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                {% endblock %}

                {% block body %}

                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            {% block body_on_single_page %}

                                <h4>Edycja danych</h4>

                                {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}
                                {{ form_end(edit_form) }}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block javascripts_on_single_page %}

    <script>
    </script>

{% endblock %}
