{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container">

            <div class="row">
                <ul>
                    <li>
                        <a href="{{ path('account_new') }}">Dodaj nowe konto</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                {% for account in accounts %}
                    <div class=" col-xs-4 col-md-4 card-deck">
                        <div class="card card-cascade wider">

                            <div class="view overlay hm-white-slight">
                                <img src="{{ account.image }}"
                                     class="img-fluid" alt="">
                            </div>

                            <div class="card-block text-xs-center">
                                <h4 class="card-title"><a
                                            href="{{ path('account_show', { 'id': account.id }) }}">{{ account.name }}</a>
                                </h4>

                                <p class="card-text">Może statystyki? ...</p>
                                <a class="btn btn-primary"
                                   href="{{ path('account_show', { 'id': account.id }) }}">Szczegóły</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
