{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container" style="padding-top: 3rem;">

            <div class="card-deck">
                {% for account in accounts %}



                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title"><a
                                        href="{{ path('account_show', { 'id': account.id }) }}">{{ account.name }}</a>
                            </h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{{ path('account_show', { 'id': account.id }) }}">show</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('account_edit', { 'id': account.id }) }}">edit</a>
                            </li>
                        </ul>
                    </div>

                {% endfor %}


            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('account_new') }}">Create a new account</a>
        </li>
    </ul>
{% endblock %}
