{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">
        <div class="container">
            <div class="columns">

                {% if accounts %}

                    {% for account in accounts %}

                        <div class="column account
                            {% if accounts|length == 1 %}is-half is-offset-one-quarter{% endif %}
                            {% if accounts|length == 2 %}is-half{% endif %}
            ">

                            <div class="card">
                                <div class="card-content">
                                    <div class="columns is-vcentered">
                                        <div class="column is-one-third">
                                            <div class="image is-128x128 avatar">
                                                {% if account.image %}
                                                    <img src="{{ account.image }}">
                                                {% else %}
                                                    <img src="http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIoIeJ1sl4QgwrJRGcdRHOCmsobfL9hBP8frB3waE_21t4XQhz7nbuJVLk9U7_AtXf&format=png">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="column name">
                                            <p class="title is-bold">{{ account.name }}</p>
                                            <p class="subtitle">{{ account.accountInstagramCache.valueAsArray.user.full_name }}</p>
                                            <p class="tagline">{{ account.accountInstagramCache.valueAsArray.user.biography }}</p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">

                                    <a class="card-footer-item"
                                       href="{{ path('account_check', { 'id': account.id }) }}">
                                        <span class="icon is-small"><i class="fa fa-cog"></i></span>
                                        <span>Ustawienia</span>
                                    </a>

                                    <a class="card-footer-item" href="{{ path('result_list', { 'id': account.id }) }}">
                                        <span class="icon is-small"><i class="fa fa-bullseye"></i></span>
                                        <span>Śledź aktywność</span>
                                    </a>

                                </footer>
                            </div>
                        </div>

                    {% endfor %}


                {% endif %}
            </div>

            <div class="columns is-full is-fullwidth">
                <div class="column  is-fullwidth">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Dziękujemy za Twoje zaufanie! Możesz korzystać z naszych
                                usług dla dowolnej ilości
                                kont!
                            </div>
                        </div>

                        <div class="card-content">
                            <a class="button is-primary is-medium" href="{{ path('account_new') }}" role="button">Dodaj
                                nowe konto!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}

{% block javascripts_on_single_page %}

{% endblock %}
