{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="container">
            <div class="row">

                {% for account in accounts %}

                    <div class="col s12 m6 l6 xl6">

                        <div class="card same-size">
                            <div class="card-image">
                                {% if account.image %}
                                    <img src="{{ account.image }}">
                                {% else %}
                                    <img src="http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIoIeJ1sl4QgwrJRGcdRHOCmsobfL9hBP8frB3waE_21t4XQhz7nbuJVLk9U7_AtXf&format=png">
                                {% endif %}
                                {##}
                                {#<a href="{{ path('account_show', { 'id': account.id }) }}"#}
                                {#class="btn-floating halfway-fab btn-large waves-effect waves-light red"><i#}
                                {#class="material-icons">settings</i></a>#}
                                {#</div>#}

                                <div class="fixed-action-btn horizontal halfway-fab click-to-toggle">
                                    <a class="btn-floating btn-large red">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                                        </li>
                                        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                                        </li>
                                        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                                        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-title">
                                    <h2 class="card-title center-block text-center">{{ account.name }}</h2>
                                </div>
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-content">
                                <div class="card-title">
                                    <h4 class="card-title center-block text-center">Ustawienia</h4>
                                </div>
                                <div class="card-block">
                                    <form name="form" method="post">
                                        <input
                                                type="hidden"
                                                name="form[id]"
                                                value="{{ account.id }}"
                                        />
                                        <div class="row">
                                            <div class="switch left">
                                                <label>
                                                    <input
                                                            {% if account.payed == false %}disabled{% endif %}
                                                            type="checkbox" name="form[enable]"
                                                            id="form_enable_{{ account.id }}"
                                                            {% if account.cronJob.enabled == true %}checked{% endif %}
                                                            class="custom-control-input
                                                            ">
                                                    <span class="lever"></span>
                                                    {% if account.payed == false %}
                                                        Konto nieopłacone
                                                    {% elseif account.payed == true and account.cronJob.enabled == true %}
                                                        Konto aktywne
                                                    {% else %}
                                                        Konto nieaktywne
                                                    {% endif %}
                                                </label>
                                            </div>
                                            <input
                                                    class="btn btn-outline-primary btn-block right"
                                                    type="submit"
                                                    value="zapisz"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-title">Hello, world!</h1>
                            <p>This is a simple hero unit, a simple jumbotron-style component for calling
                                extra
                                attention to featured content or information.</p>
                            <p>It uses utility classes for typography and spacing to space content out within the larger
                                container.</p>

                            <div class="row">
                                <a class="btn btn-outline-primary btn-large btn-block right"
                                   href="{{ path('account_new') }}" role="button">Dodaj
                                    nowe
                                    konto</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
