{% extends '@LiqsterHomePage/base.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label|trans({}, translation_domain) }}
    {% if attr.note is defined %}<span>({{ attr.note }})</span>{% endif %}
    </label>
{% endblock form_label %}

{% block choice_widget_expanded %}
    <div class="integer_widget">

        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <div class="col s12 m6 l3 xl3">

                    {{- form_widget(child) -}}

                    {{- form_label(child) -}}
                    {{ render(controller('LiqsterHomePageBundle:Product:field', {'id': child.vars.value})) }}

                </div>
            {% endfor -%}
        </div>
    </div>

{% endblock %}

{% block body %}

    <section class="hero is-fullheight is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop is-full-tablet is-full-mobile">

                        {% if error %}
                            <div class="notification is-danger error error500">
                                <button class="delete error-close"></button>
                                <h1 class="">
                                    Serwer zwrócił błąd.
                                </h1>
                                <p>
                                    Jeśli dane logowania, które zostały wprowadzone są poprawne, sprawdź prośbę o
                                    autozyzację w swojej aplikacji Instagram na smartfonie lub komputerze.
                                </p>
                            </div>
                        {% endif %}

                        <div class="card">
                            <div class="card-content">

                                <h1 class="title">Dodaj nowe konto</h1>

                                <p class="subtitle">Podaj dane logowania dla konta Instagram</p>

                                <div class="columns">
                                    <div class="column">

                                        {{ form_start(form) }}


                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(form.name, 'Login', {'label_attr': {'class': 'label'}}) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(form.name, { 'attr': {'class': 'input' } }) }}
                                                        <span class="icon is-small is-left"><i
                                                                    class="fa fa-user"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(form.password, 'Hasło', {'label_attr': {'class': 'label'}}) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(form.password, { 'attr': {'class': 'input' } }) }}
                                                        <span class="icon is-small is-left"><i
                                                                    class="fa fa-key"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-grouped is-pulled-right">
                                            <p class="control">
                                                <input class="button is-primary is-centered" type="submit" id="_submit"
                                                       name="_submit"
                                                       value="Zapisz"/>
                                            </p>
                                        </div>

                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <a class="button is-primary is-centered" href="{{ path('account_index') }}">Powrót do
                                    panelu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
