{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section id="price" class="hero is-fullheight is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title">Czas aktywności</div>
                            </div>
                            <div class="card-content">
                                <div class="columns">
                                    <div class="column is-6 is-12-mobile">
                                        {{ form_start(edit_program_form) }}

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_program_form.morning, null, {
                                                    'label_attr': {
                                                        'class': 'label'
                                                    },
                                                    'label': 'Rano'
                                                }) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_program_form.morning, { 'attr': {'class': 'select'} }) }}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_program_form.noon, null, {
                                                    'label_attr': {
                                                        'class': 'label'
                                                    },
                                                    'label': 'Dzień'
                                                }) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_program_form.noon, { 'attr': {'class': 'select'} }) }}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_program_form.afternoon, null, {
                                                    'label_attr': {
                                                        'class': 'label'
                                                    },
                                                    'label': 'Południe'
                                                }) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_program_form.afternoon, { 'attr': {'class': 'select'} }) }}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_program_form.evening, null, {
                                                    'label_attr': {
                                                        'class': 'label'
                                                    },
                                                    'label': 'Wieczór'
                                                }) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_program_form.evening, { 'attr': {'class': 'select'} }) }}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                {{ form_label(edit_program_form.night, null, {
                                                    'label_attr': {
                                                        'class': 'label'
                                                    },
                                                    'label': 'Noc'
                                                }) }}
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded has-icons-left">
                                                        {{ form_widget(edit_program_form.night, { 'attr': {'class': 'select'} }) }}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-grouped is-pulled-right">
                                            <p class="control">
                                                <input class="button is-primary is-centered"
                                                       type="submit"
                                                       value="Zapisz dane">
                                            </p>
                                        </div>

                                        {{ form_end(edit_program_form) }}

                                    </div>
                                    <div class="column is-6 is-12-mobile">
                                        <p>Krok 3: Wybierz pory, w których liqster będzie dla Ciebie
                                            pracował. Możesz
                                            pozostawić
                                            wszystkie godziny aktywne.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
