{% extends '@LiqsterHomePage/base.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label|trans({}, translation_domain) }}
    {% if attr.note is defined %}<span>({{ attr.note }})</span>{% endif %}
    </label>
{% endblock form_label %}

{% block choice_widget_expanded %}
    <div class="columns">

        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <div class="column is-fullwidth">

                    {{- form_widget(child) -}}

                    {{- form_label(child) -}}
                    {{ render(controller('LiqsterHomePageBundle:Product:field', {'id': child.vars.value})) }}

                </div>
            {% endfor -%}
        </div>
    </div>

{% endblock %}

{% block body %}

    <section class="hero is-fullheight is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop is-full-tablet is-full-mobile">

                        <div class="card">
                            <div class="card-content">

                                <div class="columns">
                                    <div class="column">
                                        <h1 class="title">Dodaj nową płatność</h1>

                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}

                                        <div class="field is-grouped is-pulled-right">
                                            <p class="control">
                                                <input class="button is-primary is-centered" type="submit" id="_submit"
                                                       name="_submit"
                                                       value="Przejdź do płatności"/>
                                            </p>
                                        </div>

                                        {{ form_end(form) }}
                                    </div>
                                </div>

                                <hr>

                                <div class="columns">
                                    <div class="column">
                                        <p>Możesz powrócić do panelu zarządania Twoimi kontami.</p>
                                        <p>Do póki nie dokonasz płatności, Twoje konto pozostanie nieaktywne</p>
                                        <a class="button is-primary is-outlined is-centered is-fullwidth"
                                           href="{{ path('account_index') }}">Powrót do
                                            panelu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
