{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">

        <div class="container profile">
            <div class="columns">
                <div class="column is-10-desktop is-offset-1-desktop is-12-touch">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns is-vcentered">
                                <div class="column is-6">
                                    <div class="columns">
                                        <div class="column is-5-widescreen is-hidden-tablet-only">
                                            <div class="image is-128x128 avatar">
                                                <img src="{{ account.image }}">
                                            </div>
                                        </div>
                                        <div class="column is-7-widescreen">
                                            <p class="title is-bold">{{ account.name }}</p>
                                            <p class="subtitle">{{ instagram.user.full_name }}</p>
                                            <p class="tagline">{{ instagram.user.biography }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="columns is-hidden-mobile">
                                        <div class="column has-text-centered statistic statistic-border">
                                            <p class="title is-bold">{{ instagram.user.follower_count }}</p>
                                            <p class="">Obserwujcy</p>
                                        </div>
                                        <div class="column has-text-centered statistic statistic-border">
                                            <p class="title is-bold">{{ instagram.user.following_count }}</p>
                                            <p class="">Obserwowane</p>
                                        </div>
                                        <div class="column has-text-centered statistic">
                                            <p class="title is-bold">{{ instagram.user.media_count }}</p>
                                            <p class="">Posty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-block">
                                    <a class="button is-primary is-outlined"
                                       href="{{ path('account_check', { 'id': account.id }) }}">Odwie偶</a>
                                </div>
                                <div class="column is-4-mobile">
                                    <a class="button is-primary is-outlined"
                                       href="{{ path('result_list', { 'id': account.id }) }}">Aktywno</a>
                                </div>
                                <div class="column is-4-mobile">
                                    {{ form_start(delete_form) }}
                                    <input class="button is-danger is-outlined" type="submit" value="Dezaktywuj konto">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>

                        <hr>

                        {% if account.type == 'free' %}

                            <div class="card-content">
                                <h1 class="card-header-title">Konto: "3 dni na testy" aktywne
                                    do {{ purchase.paid|date("Y/m/d H:i:s") }}</h1>
                            </div>

                        {% elseif account.type == 'regular' %}

                            <div class="card-content">
                                <h1 class="card-header-title">Konto: "podstawowe"</h1>
                            </div>

                            <div class="card-content">
                                <div class="columns">
                                    <div class="column">

                                        {% if not purchases %}
                                            <p class="title is-5">Nie mamy informacji o 偶adnych patnociach.</p>
                                        {% endif %}

                                        {% for purchase in purchases %}

                                            {% if purchase.product %}
                                                <p class="subtitle is-5">Rozpoczte zam贸wienie:</p>
                                                <article class="media">
                                                    <div class="media-content">
                                                        <div class="content is-vcentered">


                                                            <p class="title is-inline">{{ purchase.product.period }}
                                                                dni</p>
                                                            <p class="is-inline">
                                                                {% if discountCode %}
                                                                Cena: {{ (purchase.product.price / 100 * discountCode.promotion)|number_format(2) }}
                                                                z</p> (kod: {{ discountCode.key }})
                                                            {% else %}
                                                                Cena: {{ (purchase.product.price / 100)|number_format(2) }}
                                                                z</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="content is-vcentered">
                                                            <p>
                                                                Utworzono: {{ purchase.create|date("Y/m/d H:i:s") }}</p>
                                                        </div>
                                                        <nav class="level is-mobile">
                                                            <div class="level-left">
                                                                <a href="{{ path('purchase_delete', {'id': purchase.id }) }}"
                                                                   class="level-item button is-danger is-outlined">Kasuj</a>
                                                                <a
                                                                        href="{{ path('account_continue_payment', {
                                                                            'account': account.id,
                                                                            'purchase': purchase.id
                                                                        }) }}"
                                                                        class="level-item button is-success is-outlined">Kontynuuj</a>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </article>


                                            {% endif %}

                                            {% if  purchase.paid >= date %}

                                                {% if purchase.product %}
                                                    <p class="subtitle is-5">Bie偶ce zam贸wienie:</p>
                                                    <article class="media">
                                                        <div class="media-content">
                                                            <div class="content is-vcentered">
                                                                <p class="title is-inline">{{ purchase.product.period }}
                                                                    dni</p>
                                                                <p class="is-inline">
                                                                    {% if discountCode %}
                                                                    Cena: {{ (purchase.product.price / 100 * discountCode.promotion)|number_format(2) }}
                                                                    z</p> (kod: {{ discountCode.key }})
                                                                {% else %}
                                                                    Cena: {{ (purchase.product.price / 100)|number_format(2) }}
                                                                    z</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="content is-vcentered">
                                                                <p>Utworzono: {{ purchase.create|date("Y/m/d H:i:s") }}
                                                                    |
                                                                    Opacono
                                                                    do: {{ purchase.paid|date("Y/m/d H:i:s") }}</p>
                                                                <p>Numer
                                                                    transakcji: {{ purchase.payment.p24statement }}</p>
                                                            </div>
                                                            <nav class="level is-mobile">
                                                                <div class="level-left">
                                                                    <a href="{{ path('purchase_duplicate', {'id': purchase.id }) }}"
                                                                       class="level-item button is-success is-outlined">Pon贸w
                                                                        nowy okres</a>
                                                                </div>
                                                            </nav>
                                                        </div>
                                                    </article>

                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <form name="form" method="post">
                                    <input
                                            type="hidden"
                                            name="form[id]"
                                            value="{{ account.id }}"
                                    />

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label"
                                                   for="username">

                                                {% if account.payed == false %}
                                                    Konto nieopacone
                                                {% elseif account.payed == true and account.cronJob.enabled == true %}
                                                    Konto aktywne
                                                {% else %}
                                                    Konto nieaktywne
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    <input
                                                            {% if account.payed == false %}disabled{% endif %}
                                                            type="checkbox" name="form[enable]"
                                                            id="form_enable_{{ account.id }}"
                                                            {% if account.cronJob.enabled == true %}checked{% endif %}
                                                            class="">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <p class="control">
                                                <input class="button is-primary  is-outlined is-centered"
                                                       type="submit"
                                                       id="_submit"
                                                       name="_submit"
                                                       value="Zapisz"/>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        {% elseif account.type == 'pro' %}

                            <div class="card-content">
                                <h1 class="card-header-title">Konto: "pro"</h1>
                            </div>

                        {% endif %}

                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Edycja danych podstawowych</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">

                                    {{ form_start(edit_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.name, 'Login', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.name, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-user"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.password, 'Haso', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.password, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-key"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz dane" disabled>
                                        </p>
                                    </div>

                                    {{ form_end(edit_form) }}


                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>Mo偶esz zmieni nazw oraz haso swojego konta z Instagramu, jeli
                                        zaistniaa
                                        taka
                                        potrzeba.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">#tagi</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_tags_form) }}

                                    {{ form_widget(edit_tags_form.tagsText, { 'attr': {'class': 'select_tags'} }) }}

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_tags_form) }}
                                </div>
                                <div class="column is-5">
                                    <p>Edytuj #tagi, wypisz je samemu po przecinku lub skorzystaj z przygotowanych przez
                                        nas kategorii.</p>
                                    {% include '@LiqsterHomePage/Account/tagsFull.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Komentrarze</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_comments_form) }}

                                    {{ form_widget(edit_comments_form.comments, { 'attr': {'class': 'select_comments'} }) }}

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz ustawienia" disabled>
                                        </p>
                                    </div>

                                    {{ form_end(edit_comments_form) }}
                                </div>
                                <div class="column is-5">
                                    <p>
                                        Napisz teksty kilku komentarzy, kt贸re losowo pozostawi w Twoim imieniu
                                        liqster.
                                        Oddziel je midzy sob przecinkami lub enterami.
                                    </p>
                                    <hr>
                                    <h3>Nie masz pomysu? Nie szkodzi, dodaj komentarz z poni偶szych:</h3>
                                    <a class="tag is-light is-medium comment_to_add">Wow!</a>
                                    <a class="tag is-light is-medium comment_to_add">Super!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Czas pracy:</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">
                                    {{ form_start(edit_program_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.morning, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Rano'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.morning, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.noon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Dzie'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.noon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.afternoon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Poudnie'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.afternoon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.evening, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Wiecz贸r'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.evening, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.night, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Noc'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.night, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered"
                                                   type="submit" disabled value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_program_form) }}

                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>
                                        Wybierz pory, w kt贸rych liqster bdzie dla Ciebie pracowa. Mo偶esz pozostawi
                                        wszystkie godziny aktywne, zalecamy jednak dostosowa je do swojej naturalnej
                                        aktywnoci.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
