{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <h1>Account</h1>

            <ul>
                <li>Login: {{ account.name }}</li>
                <li>Pełna nazwa: {{ instagram.user.fullName }}</li>
                <li>Opis: {{ instagram.user.biography }}</li>
                <li>Posty: {{ instagram.user.mediaCount }}</li>
                <li>Obserwujący: {{ instagram.user.followerCount }}</li>
                <li>Obserwowane: {{ instagram.user.followingCount }}</li>
            </ul>

            <h1>Account edit</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            {{ form_label(edit_form) }}
            <input type="submit" value="Edit"/>
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('result_list', { 'id': account.id }) }}">Raporty z aktywności</a>
                </li>
                <li>
                    <a href="{{ path('account_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('account_check', { 'id': account.id }) }}">Sprawdź</a>
                </li>
                <li>
                    <a href="{{ path('account_activate', { 'id': account.id }) }}">Aktywuj (lub wyłącz? )</a>
                </li>
                <li>
                    <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
