{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">

        <div class="container profile">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="image is-128x128 avatar">
                                <img src="{{ account.image }}">
                            </div>
                        </div>
                        <div class="column is-4 name">
                        <span class="button is-primary is-outlined follow"><a
                                    href="{{ path('account_check', { 'id': account.id }) }}">Odwie偶</a></span>
                            <p class="title is-bold">{{ account.name }}</p>
                            <p class="subtitle">{{ instagram.user.full_name }}</p>
                            <p class="tagline">{{ instagram.user.biography }}</p>
                        </div>
                        <div class="column is-2 followers has-text-centered">
                            <p class="stat-val">{{ instagram.user.follower_count }}</p>
                            <p class="stat-key">Obserwujcy</p>
                        </div>
                        <div class="column is-2 following has-text-centered">
                            <p class="stat-val">{{ instagram.user.following_count }}</p>
                            <p class="stat-key">Obserwowane</p>
                        </div>
                        <div class="column is-2 likes has-text-centered">
                            <p class="stat-val">{{ instagram.user.media_count }}</p>
                            <p class="stat-key">Posty</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">

                    <ul>
                        <li>
                            <a href="{{ path('result_list', { 'id': account.id }) }}">Raporty z aktywnoci</a>
                        </li>
                        <li>
                            <a href="{{ path('account_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('account_check', { 'id': account.id }) }}">Sprawd藕</a>
                        </li>
                        <li>
                            <a href="{{ path('account_activate', { 'id': account.id }) }}">Aktywuj (lub wycz? )</a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>

                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            {{ form_start(edit_form) }}
                            {{ form_end(edit_form) }}
                        </div>
                        <div class="column">
                            <p>Mo偶esz zmieni nazw oraz haso swojego konta na Instagramie, jeli zaistniaa taka
                                potrzeba.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            {{ form_start(edit_tags_form) }}
                            {{ form_end(edit_tags_form) }}
                        </div>
                        <div class="column">
                            <p>Krok 1: Wypisz #tagi, po kt贸rych ma porusza si liqster. Wymieniaj je po przecinkach,
                                bez odstp贸w. Wybierz od 10 do 30 #tag贸w.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            {{ form_start(edit_comments_form) }}
                            {{ form_end(edit_comments_form) }}
                        </div>
                        <div class="column">
                            <p>Krok 2: Napisz teksty trzech komentarzy, kt贸re losowo pozostawi w Twoim imieniu liqster.
                                Oddziel je midzy sob przecinkami, nie u偶ywajc odstp贸w.</p>
                            <p>Nice photo! </p>
                            <p>Nice! Check my profile!</p>
                            <p>Love it! わ</p>
                            <p>Wow! Follow me pls!!! </p>
                            <p></p>
                            <p>Greate! Visit my page </p>
                            <p>Love your page わ</p>
                            <p>wietne zdjcie! </p>
                            <p>Uwielbiam Twoj galeri! Zajrzyj do mnie! </p>
                            <p>a! </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            {{ form_start(edit_program_form) }}
                            {{ form_end(edit_program_form) }}
                        </div>
                        <div class="column">
                            <p>Krok 3: Wybierz pory, w kt贸rych liqster bdzie dla Ciebie pracowa. Mo偶esz pozostawi
                                wszystkie godziny aktywne.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">

                <div class="card-content">

                    <form name="form" method="post">
                        <input
                                type="hidden"
                                name="form[id]"
                                value="{{ account.id }}"
                        />

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"
                                       for="username">
                                    {% if account.payed == false %}
                                        Konto nieopacone
                                    {% elseif account.payed == true and account.cronJob.enabled == true %}
                                        Konto aktywne
                                    {% else %}
                                        Konto nieaktywne
                                    {% endif %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input
                                                {% if account.payed == false %}disabled{% endif %}
                                                type="checkbox" name="form[enable]"
                                                id="form_enable_{{ account.id }}"
                                                {% if account.cronJob.enabled == true %}checked{% endif %}
                                                class="">
                                    </p>
                                </div>
                            </div>
                            <div class="field is-grouped is-pulled-right">
                                <p class="control">
                                    <input class="button is-primary is-centered"
                                           type="submit"
                                           id="_submit"
                                           name="_submit"
                                           value="Zapisz"/>
                                </p>
                            </div>
                        </div>
                    </form>


                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
