{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">

        <div class="container profile">
            <div class="columns">
                <div class="column is-10-desktop is-offset-1-desktop is-12-touch">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns is-vcentered">
                                <div class="column is-6">
                                    <div class="columns">
                                        <div class="column is-5-widescreen is-hidden-tablet-only">
                                            <div class="image is-128x128 avatar">
                                                <img src="{{ account.image }}">
                                            </div>
                                        </div>
                                        <div class="column is-7-widescreen">
                                            <p class="title is-bold">{{ account.name }}</p>
                                            <p class="subtitle">{{ instagram.user.fullName }}</p>
                                            <p class="tagline">{{ instagram.user.biography }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="columns is-hidden-mobile">
                                        <div class="column has-text-centered statistic statistic-border">
                                            <p class="title is-bold">{{ instagram.user.followerCount }}</p>
                                            <p class="">Obserwujący</p>
                                        </div>
                                        <div class="column has-text-centered statistic statistic-border">
                                            <p class="title is-bold">{{ instagram.user.followingCount }}</p>
                                            <p class="">Obserwowane</p>
                                        </div>
                                        <div class="column has-text-centered statistic">
                                            <p class="title is-bold">{{ instagram.user.mediaCount }}</p>
                                            <p class="">Posty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-block">
                                    <a class="button is-primary is-outlined"
                                       href="{{ path('account_check', { 'id': account.id }) }}">Odśwież</a>
                                </div>
                                <div class="column is-4-mobile">
                                    {{ form_start(delete_form) }}
                                    <input class="button is-danger is-outlined" type="submit" value="Dezaktywuj konto">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Edycja danych podstawowych</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">

                                    {{ form_start(edit_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.name, 'Login', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.name, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-user"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.password, 'Hasło', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.password, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-key"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz dane">
                                        </p>
                                    </div>

                                    {{ form_end(edit_form) }}


                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>Możesz zmienić nazwę oraz hasło swojego konta z Instagramu, jeśli
                                        zaistniała
                                        taka
                                        potrzeba.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">#tagi</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_tags_form) }}

                                    {{ form_widget(edit_tags_form.tagsText, { 'attr': {'class': 'select_tags'} }) }}

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_tags_form) }}
                                </div>
                                <div class="column is-5">
                                    <p>Edytuj #tagi, wypisz je samemu po przecinku lub skorzystaj z przygotowanych przez
                                        nas kategorii.</p>
                                    {% include '@LiqsterHomePage/Account/tagsFull.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Komentrarze</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_comments_form) }}

                                    {{ form_widget(edit_comments_form.comments, { 'attr': {'class': 'select_comments'} }) }}

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered" type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_comments_form) }}
                                </div>
                                <div class="column is-5">
                                    <p>
                                        Napisz teksty kilku komentarzy, które losowo pozostawi w Twoim imieniu
                                        liqster.
                                        Oddziel je między sobą przecinkami lub enterami.
                                    </p>
                                    <hr>
                                    <h3>Nie masz pomysłu? Nie szkodzi, dodaj komentarz z poniższych:</h3>
                                    <a class="tag is-light is-medium comment_to_add">Wow!😊</a>
                                    <a class="tag is-light is-medium comment_to_add">Super!👌</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Czas pracy:</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">
                                    {{ form_start(edit_program_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.morning, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Rano'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.morning, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.noon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Dzień'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.noon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.afternoon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Południe'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.afternoon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.evening, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Wieczór'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.evening, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.night, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Noc'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.night, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <p class="control">
                                            <input class="button is-primary is-outlined is-centered"
                                                   type="submit" value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_program_form) }}

                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>
                                        Wybierz pory, w których liqster będzie dla Ciebie pracował. Możesz pozostawić
                                        wszystkie godziny aktywne, zalecamy jednak dostosować je do swojej naturalnej
                                        aktywności.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Raporty ({{ reports|length }})</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column">

                                    {% for report in reports %}

                                        {{ report.output }}

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
