{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <h1>Account</h1>

            <ul>
                <li>Login: {{ account.name }}</li>
                <li>Pełna nazwa: {{ instaxer.instagram.loggedInUser.fullName }}</li>
            </ul>

            <ul>
                <li>
                    <a href="{{ path('account_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('account_check', { 'id': account.id }) }}">Sprawdź</a>
                </li>
                <li>
                    <a href="{{ path('account_activate', { 'id': account.id }) }}">Aktywuj (lub wyłącz? )</a>
                </li>
                <li>
                    <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
