{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">

        <div class="container profile">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns is-vcentered">
                                <div class="column is-6">
                                    <div class="columns">
                                        <div class="column is-5-widescreen is-hidden-tablet-only">
                                            <div class="image is-128x128 avatar">
                                                <img src="{{ account.image }}">
                                            </div>
                                        </div>
                                        <div class="column is-7-widescreen">
                                            <p class="title is-bold">{{ account.name }}</p>
                                            <p class="subtitle">{{ instagram.user.full_name }}</p>
                                            <p class="tagline">{{ instagram.user.biography }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="columns is-hidden-mobile">
                                        <div class="column has-text-centered">
                                            <p class="title is-bold">{{ instagram.user.follower_count }}</p>
                                            <p class="">Obserwujący</p>
                                        </div>
                                        <div class="column has-text-centered">
                                            <p class="title is-bold">{{ instagram.user.following_count }}</p>
                                            <p class="">Obserwowane</p>
                                        </div>
                                        <div class="column has-text-centered">
                                            <p class="title is-bold">{{ instagram.user.media_count }}</p>
                                            <p class="">Posty</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Status konta (trzeba jeszcze zrobić)</div>
                        </div>

                        <div class="card-content">
                            <div class="columns">
                                <div class="column">

                                    {% if not purchases %}
                                        <p class="title is-5">Nie mamy informacji o żadnych płatnościach.</p>
                                    {% endif %}

                                    {% for purchase in purchases %}
                                        {% if  purchase.paid >= date.now %}
                                            <p>Zamówienie:</p>
                                            <ul>
                                                <li>Identyfikator: {{ purchase.id }}</li>
                                                <li>Utworzono: {{ purchase.create|date("m/d/Y H:i:s") }}</li>
                                                <li>Aktualizacja: {{ purchase.modification|date("m/d/Y H:i:s") }}</li>
                                                <li>Opłacono: {{ purchase.paid|date("m/d/Y H:i:s") }}</li>
                                                <li>Status: {{ purchase.status }}</li>
                                            </ul>
                                            <p>Płatość:</p>
                                            <ul>
                                                <li>Identyfikator: {{ purchase.payment.id }}</li>
                                                <li>Token: {{ purchase.payment.token }}</li>
                                            </ul>
                                            <p>Produkt:</p>
                                            <ul>
                                                <li>Identyfikator: {{ purchase.product.id }}</li>
                                                <li>Typ: {{ purchase.product.type }}</li>
                                                <li>Okres: {{ purchase.product.period }}</li>
                                                <li>Cena: {{ (purchase.product.price / 100)|number_format(2) }} zł</li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-block">
                                    <a class="button is-primary is-outlined"
                                       href="{{ path('account_check', { 'id': account.id }) }}">Odśwież</a>
                                </div>
                                <div class="column is-4-mobile">
                                    <a class="button is-primary is-outlined"
                                       href="{{ path('result_list', { 'id': account.id }) }}">Aktywność</a>
                                </div>
                                <div class="column is-4-mobile">
                                    {{ form_start(delete_form) }}
                                    <input class="button is-danger is-outlined" type="submit" value="Dezaktywuj konto">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>

                        <div class="card-content">
                            <form name="form" method="post">
                                <input
                                        type="hidden"
                                        name="form[id]"
                                        value="{{ account.id }}"
                                />

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label"
                                               for="username">
                                            {% if account.payed == false %}
                                                Konto nieopłacone
                                            {% elseif account.payed == true and account.cronJob.enabled == true %}
                                                Konto aktywne
                                            {% else %}
                                                Konto nieaktywne
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input
                                                        {% if account.payed == false %}disabled{% endif %}
                                                        type="checkbox" name="form[enable]"
                                                        id="form_enable_{{ account.id }}"
                                                        {% if account.cronJob.enabled == true %}checked{% endif %}
                                                        class="">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="field is-grouped is-pulled-right">
                                        <p class="control">
                                            <input class="button is-primary is-centered"
                                                   type="submit"
                                                   id="_submit"
                                                   name="_submit"
                                                   value="Zapisz"/>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Edycja danych podstawowych</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">

                                    {{ form_start(edit_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.name, 'Login', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.name, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-user"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_form.password, 'Hasło', {'label_attr': {'class': 'label'}}) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_form.password, { 'attr': {'class': 'input'} }) }}
                                                    <span class="icon is-small is-left"><i
                                                                class="fa fa-key"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-grouped is-pulled-right">
                                        <p class="control">
                                            <input class="button is-primary is-centered" type="submit"
                                                   value="Zapisz dane">
                                        </p>
                                    </div>

                                    {{ form_end(edit_form) }}


                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>Możesz zmienić nazwę oraz hasło swojego konta na Instagramie, jeśli
                                        zaistniała
                                        taka
                                        potrzeba.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">#tagi</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_tags_form) }}

                                    {{ form_widget(edit_tags_form.tagsText, { 'attr': {'class': 'select_tags'} }) }}

                                    <div class="field is-grouped is-pulled-right">
                                        <p class="control">
                                            <input class="button is-primary is-centered" type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_tags_form) }}
                                </div>
                                <div class="column is-5">
                                    {% include '@LiqsterHomePage/Account/tags.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Komentrarze</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7">
                                    {{ form_start(edit_comments_form) }}

                                    {{ form_widget(edit_comments_form.comments, { 'attr': {'class': 'select_comments'} }) }}

                                    <div class="field is-grouped is-pulled-right">
                                        <p class="control">
                                            <input class="button is-primary is-centered" type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_comments_form) }}
                                </div>
                                <div class="column is-5">
                                    <p>
                                        Napisz teksty kilku komentarzy, które losowo pozostawi w Twoim imieniu
                                        liqster.
                                        Oddziel je między sobą przecinkami lub enterami.
                                    </p>
                                    <hr>
                                    <h3>Nie masz pomysłu? Nie szkodzi, dodaj komentarz z poniższych:</h3>
                                    <a class="tag is-light is-medium comment_to_add">Nice photo!</a>
                                    <a class="tag is-light is-medium comment_to_add">Nice! Check my profile!</a>
                                    <a class="tag is-light is-medium comment_to_add">Love it!</a>
                                    <a class="tag is-light is-medium comment_to_add">Wow! Follow me pls!!!</a>
                                    <a class="tag is-light is-medium comment_to_add">Greate! Visit my page</a>
                                    <a class="tag is-light is-medium comment_to_add">Love your page</a>
                                    <a class="tag is-light is-medium comment_to_add">Świetne zdjęcie!</a>
                                    <a class="tag is-light is-medium comment_to_add">Uwielbiam Twoją galerię!
                                        Zajrzyj do mnie!</a>
                                    <a class="tag is-light is-medium comment_to_add">łał!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Czas pracy:</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-7 is-12-mobile">
                                    {{ form_start(edit_program_form) }}

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.morning, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Rano'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.morning, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.noon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Dzień'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.noon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.afternoon, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Południe'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.afternoon, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.evening, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Wieczór'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.evening, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{ form_label(edit_program_form.night, null, {
                                                'label_attr': {
                                                    'class': 'label'
                                                },
                                                'label': 'Noc'
                                            }) }}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    {{ form_widget(edit_program_form.night, { 'attr': {'class': 'select'} }) }}

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-grouped is-pulled-right">
                                        <p class="control">
                                            <input class="button is-primary is-centered"
                                                   type="submit"
                                                   value="Zapisz ustawienia">
                                        </p>
                                    </div>

                                    {{ form_end(edit_program_form) }}

                                </div>
                                <div class="column is-5 is-12-mobile">
                                    <p>
                                        Wybierz pory, w których liqster będzie dla Ciebie pracował. Możesz pozostawić
                                        wszystkie godziny aktywne, zalecamy jednak dostosować je do swojej naturalnej
                                        aktywności.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}
