{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight is-light is-bold">

        <div class="container profile">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-2">
                            <div class="image is-128x128 avatar">
                                <img src="{{ account.image }}">
                            </div>
                        </div>
                        <div class="column is-4 name">
                        <span class="button is-primary is-outlined follow"><a
                                    href="{{ path('account_check', { 'id': account.id }) }}">Odśwież</a></span>
                            <p class="title is-bold">{{ account.name }}</p>
                            <p class="subtitle">{{ instagram.user.full_name }}</p>
                            <p class="tagline">{{ instagram.user.biography }}</p>
                        </div>
                        <div class="column is-2 followers has-text-centered">
                            <p class="stat-val">{{ instagram.user.follower_count }}</p>
                            <p class="stat-key">Obserwujący</p>
                        </div>
                        <div class="column is-2 following has-text-centered">
                            <p class="stat-val">{{ instagram.user.following_count }}</p>
                            <p class="stat-key">Obserwowane</p>
                        </div>
                        <div class="column is-2 likes has-text-centered">
                            <p class="stat-val">{{ instagram.user.media_count }}</p>
                            <p class="stat-key">Posty</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">

                    <ul>
                        <li>
                            <a href="{{ path('result_list', { 'id': account.id }) }}">Raporty z aktywności</a>
                        </li>
                        <li>
                            <a href="{{ path('account_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('account_check', { 'id': account.id }) }}">Sprawdź</a>
                        </li>
                        <li>
                            <a href="{{ path('account_activate', { 'id': account.id }) }}">Aktywuj (lub wyłącz? )</a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>

                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    {{ form_start(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    {{ form_start(edit_tags_form) }}
                    {{ form_end(edit_tags_form) }}
                </div>
            </div>


            <div class="card">

                <div class="card-content">

                    <form name="form" method="post">
                        <input
                                type="hidden"
                                name="form[id]"
                                value="{{ account.id }}"
                        />

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"
                                       for="username">
                                    {% if account.payed == false %}
                                        Konto nieopłacone
                                    {% elseif account.payed == true and account.cronJob.enabled == true %}
                                        Konto aktywne
                                    {% else %}
                                        Konto nieaktywne
                                    {% endif %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input
                                                {% if account.payed == false %}disabled{% endif %}
                                                type="checkbox" name="form[enable]"
                                                id="form_enable_{{ account.id }}"
                                                {% if account.cronJob.enabled == true %}checked{% endif %}
                                                class="">
                                    </p>
                                </div>
                            </div>
                            <div class="field is-grouped is-pulled-right">
                                <p class="control">
                                    <input class="button is-primary is-centered"
                                           type="submit"
                                           id="_submit"
                                           name="_submit"
                                           value="Zapisz"/>
                                </p>
                            </div>
                        </div>
                    </form>


                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts_on_single_page %}
    <script>
        $(document).ready(function () {
            (function () {
                var $tagInput = $('input[name$="[tagsText]"]');

                function tags($input) {
                    $input.attr('type', 'hidden').select2({
                        tags: true,
                        tokenSeparators: [","],
                        createSearchChoice: function (term, data) {
                            if ($(data).filter(function () {
                                    return this.text.localeCompare(term) === 0;
                                }).length === 0) {
                                return {
                                    id: term,
                                    text: term
                                };
                            }
                        },
                        multiple: true,
                        ajax: {
                            url: $input.data('ajax'),
                            dataType: "json",
                            data: function (term, page) {
                                return {
                                    q: term
                                };
                            },
                            results: function (data, page) {
                                return {
                                    results: data
                                };
                            }
                        },
                        initSelection: function (element, callback) {
                            var data = [];

                            function splitVal(string, separator) {
                                var val, i, l;
                                if (string === null || string.length < 1) {
                                    return [];
                                }
                                val = string.split(separator);
                                for (i = 0, l = val.length; i < l; i = i + 1) {
                                    val[i] = $.trim(val[i]);
                                }
                                return val;
                            }

                            $(splitVal(element.val(), ",")).each(function () {
                                data.push({
                                    id: this,
                                    text: this
                                });
                            });
                            callback(data);
                        }
                    });
                }

                if ($tagInput.length > 0) {
                    tags($tagInput);
                }
            }());
        });
    </script>
{% endblock %}