{% extends '@LiqsterHomePage/base.html.twig' %}

{% block fos_user_content %}

    <section id="intro" class="full-section flat-section">
        <div class="view container-fluid">
            <div class="container input-field">
                <div class="row">

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="col l8 offset-l2">

                        <div class="card">
                            <div class="card-content">

                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                    {% endif %}

                                    <div class="input-field">
                                        <label for="username">{{ 'security.login.username'|trans({}, 'main') }}</label>
                                        <input type="text" id="username" name="_username"
                                               value="{{ last_username }}"
                                        />
                                    </div>

                                    <div class="input-field">
                                        <label for="password">{{ 'security.login.password'|trans({}, 'main') }}</label>
                                        <input type="password" id="password" name="_password"
                                        />
                                    </div>

                                    <div class="input-field center-align">
                                        <input class="btn btn-large pink darken-3" type="submit" id="_submit"
                                               name="_submit"
                                               value="{{ 'security.login.submit'|trans({}, 'main') }}"/>
                                    </div>

                                </form>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>Nie masz konta? <a class=""
                                                              href="{{ path('fos_user_registration_register') }}">Zarejestruj
                                                się</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock fos_user_content %}
