{% extends '@LiqsterHomePage/base.html.twig' %}

{% block body %}
    <h1>Cronjobs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Command</th>
                <th>Schedule</th>
                <th>Description</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cronJob in cronJobs %}
            <tr>
                <td><a href="{{ path('cronjob_show', { 'id': cronJob.id }) }}">{{ cronJob.id }}</a></td>
                <td>{{ cronJob.name }}</td>
                <td>{{ cronJob.command }}</td>
                <td>{{ cronJob.schedule }}</td>
                <td>{{ cronJob.description }}</td>
                <td>{% if cronJob.enabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cronjob_show', { 'id': cronJob.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cronjob_edit', { 'id': cronJob.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cronjob_new') }}">Create a new cronJob</a>
        </li>
    </ul>
{% endblock %}
