{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cronjob</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cronJob.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cronJob.name }}</td>
            </tr>
            <tr>
                <th>Command</th>
                <td>{{ cronJob.command }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>{{ cronJob.schedule }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cronJob.description }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if cronJob.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cronjob_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cronjob_edit', { 'id': cronJob.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
