<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="theme-color" content="">

    <title>{% block title %}{{ 'apps.title'|trans({}, 'main') }}{% endblock %}</title>

    {% block headers %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}

    {% block stylesheets %}

        {% stylesheets
        'asset/css/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% block navigation %}
    <ul id="slide-out" class="side-nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <div class="userView">
                    <div class="background">
                        <img class="shelf-img"
                             src="https://opengameart.org/sites/default/files/Preview3_1.jpg">
                    </div>
                    <a href="{{ path('profile_index') }}"><img class="circle"
                                                               src="http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIoIeJ1sl4QgwrJRGcdRHOCmsobfL9hBP8frB3waE_21t4XQhz7nbuJVLk9U7_AtXf&format=png"></a>
                    <a href="{{ path('profile_index') }}"><span
                                class="white-text name">{{ app.user.username }}</span></a>
                    <a href="{{ path('profile_index') }}"><span class="white-text email">{{ app.user.email }}</span></a>
                </div>
            </li>
        {% endif %}


        <li><a class="" href="{{ path('homepage') }}">Start</a></li>
        <li><a class="" href="{{ path('homepage') }}#about">O nas</a></li>
        <li><a class="" href="{{ path('homepage') }}#price">Cennik</a></li>
        <li><a class="" href="{{ path('homepage') }}#services">Usługi</a></li>
        <li><a class="" href="{{ path('homepage') }}#contact">Kontakt</a></li>
        <li>
            <div class="divider"></div>
        </li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'main') }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'main') }}</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'main') }}</a>
            </li>
        {% endif %}
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper pink darken-2">
                <div class="container">
                    <a href="#" class="brand-logo center valign-wrapper">
                        <img src="{{ asset('asset/img/30x30lq.png') }}" width="30"
                             height="30" alt="Logo"></a>
                    </a>
                    <a href="#" data-activates="slide-out" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a class="nav-item nav-link" href="{{ path('homepage') }}">Start</a></li>
                        <li><a class="nav-item nav-link page-scroll" href="{{ path('homepage') }}#about">O nas</a></li>
                        <li><a class="nav-item nav-link page-scroll" href="{{ path('homepage') }}#price">Cennik</a></li>
                        <li><a class="nav-item nav-link page-scroll" href="{{ path('homepage') }}#services">Usługi</a>
                        </li>
                        <li><a class="nav-item nav-link page-scroll" href="{{ path('homepage') }}#contact">Kontakt</a>
                        </li>
                    </ul>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('profile_index') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'main') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'main') }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'main') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'main') }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}

{% block header %}{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}

    {% javascripts
    'asset/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('.same-size').matchHeight();
            $(function () {
                $('.valign-center').css({
                    'position': 'absolute',
                    'left': '50%',
                    'top': '50%',
                    'margin-left': function () {
                        return -$(this).outerWidth() / 2
                    },
                    'margin-top': function () {
                        return -$(this).outerHeight() / 2
                    }
                });
            });
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $('img.shelf-img').each(function (i, item) {
                var img_height = $(item).height();
                var div_height = $(item).parent().height();
                if (img_height < div_height) {
                    //INCREASE HEIGHT OF IMAGE TO MATCH CONTAINER
                    $(item).css({'width': 'auto', 'height': div_height});
                    //GET THE NEW WIDTH AFTER RESIZE
                    var img_width = $(item).width();
                    //GET THE PARENT WIDTH
                    var div_width = $(item).parent().width();
                    //GET THE NEW HORIZONTAL MARGIN
                    var newMargin = (div_width - img_width) / 2 + 'px';
                    //SET THE NEW HORIZONTAL MARGIN (EXCESS IMAGE WIDTH IS CROPPED)
                    $(item).css({'margin-left': newMargin});
                } else {
                    //CENTER IT VERTICALLY (EXCESS IMAGE HEIGHT IS CROPPED)
                    var newMargin = (div_height - img_height) / 2 + 'px';
                    $(item).css({'margin-top': newMargin});
                }
            });
        })
    </script>

{% endblock %}

{% block javascripts_on_single_page %}
{% endblock %}

</body>
</html>
