<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{{ 'apps.title'|trans({}, 'main') }}{% endblock %}</title>

    {% block headers %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}

    {% block stylesheets %}

        {% stylesheets 'css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <style>
            body {
                min-height: 100%;

                font-family: 'Raleway', 'Open Sans', sans-serif;

                padding-top: 4.5rem;
            }

            /* GLOBAL STYLES
            -------------------------------------------------- */
            /* Padding below the footer and lighter body text */

            body {
                padding-top: 3rem;
                padding-bottom: 3rem;
                color: #5a5a5a;
            }

            /* CUSTOMIZE THE CAROUSEL
            -------------------------------------------------- */

            /* Carousel base class */
            .carousel {
                margin-bottom: 4rem;
            }

            /* Since positioning the image, we need to help out the caption */
            .carousel-caption {
                z-index: 10;
                bottom: 3rem;
            }

            /* Declare heights because of positioning of img element */
            .carousel-item {
                height: 32rem;
                background-color: #777;
            }

            .carousel-item > img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 32rem;
            }

            /* MARKETING CONTENT
            -------------------------------------------------- */

            /* Center align the text within the three columns below the carousel */
            .marketing .col-lg-4 {
                margin-bottom: 1.5rem;
                text-align: center;
            }

            .marketing h2 {
                font-weight: normal;
            }

            .marketing .col-lg-4 p {
                margin-right: .75rem;
                margin-left: .75rem;
            }

            /* Featurettes
            ------------------------- */

            .featurette-divider {
                margin: 5rem 0; /* Space out the Bootstrap <hr> more */
            }

            /* Thin out the marketing headings */
            .featurette-heading {
                font-weight: 300;
                line-height: 1;
                letter-spacing: -.05rem;
            }

            /* RESPONSIVE CSS
            -------------------------------------------------- */

            @media (min-width: 40em) {
                /* Bump up size of carousel content */
                .carousel-caption p {
                    margin-bottom: 1.25rem;
                    font-size: 1.25rem;
                    line-height: 1.4;
                }

                .featurette-heading {
                    font-size: 50px;
                }
            }

            @media (min-width: 62em) {
                .featurette-heading {
                    margin-top: 7rem;
                }
            }
        </style>

    {% endblock %}
</head>

<body>

{% block dorz_navigation %}

    <nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">

        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">liqster</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jak to działa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cennik</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'main') }}</span>
                        <span> | </span>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'main') }}</a>
                    {% else %}

                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'main') }}</a>
                        <span> | </span>
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'main') }}</a>

                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

<div class="container-fluid" style="margin:0;padding: 0;">

    {% endblock %}

    {% block header %}{% endblock %}

    {% block fos_user_content %}{% endblock %}

    {% block body %}{% endblock %}

</div>

{% block footer %}{% endblock %}

{% block javascripts %}

    {% javascripts 'js/jquery.min.js' 'js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>
