{% spaceless %}

    <!DOCTYPE html>
    <html lang="pl">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google-site-verification" content="lrzH0Cw7Vp0VwPNh6UzOBjLCUvNvC4ti4fXbVBXAp_0"/>
        <meta name="theme-color" content="#C2185B">

        <title>{% block title %}{{ 'apps.title'|trans({}, 'main') }}{% endblock %}</title>

        {% block headers %}

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
            <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600" rel="stylesheet">

            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

        {% endblock %}

        {% block stylesheets %}

            {% stylesheets
            'asset/css/*'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            {% if app.user %}ga('set', 'userId', {{ app.user.id }});{% endif %}
            ga('create', 'UA-91236554-2', 'auto');
            ga('send', 'pageview');

        </script>

        {{ render(controller('LiqsterHomePageBundle:Default:cookieInfo')) }}

    </head>

    <body data-spy="scroll" data-target=".navbar-fixed-top">

    {% block navigation %}


        <nav class="nav has-shadow">
            <div class="container">
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
                <div class="nav-left">
                    <a href="{{ path('homepage') }}" class="nav-item">
                        <img src="{{ asset('asset/img/logo.black.white.80x40.png') }}" alt="Bulma logo">
                    </a>
                    <a href="{{ path('homepage') }}#services" class="nav-item is-tab is-hidden-mobile">Usługi</a>
                    <a href="{{ path('homepage') }}#price" class="nav-item is-tab is-hidden-mobile">Cennik</a>
                    <a href="{{ path('homepage') }}#about" class="nav-item is-tab is-hidden-mobile">O nas</a>
                </div>
                <div class="nav-right nav-menu">
                    <a href="{{ path('homepage') }}#services" class="nav-item is-tab is-hidden-tablet">Usługi</a>
                    <a href="{{ path('homepage') }}#price" class="nav-item is-tab is-hidden-tablet">Cennik</a>
                    <a href="{{ path('homepage') }}#about" class="nav-item is-tab is-hidden-tablet">O nas</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('account_index') }}" class="nav-item is-tab">Lista kont</a>
                        <a href="{{ path('profile_index') }}"
                           class="nav-item is-tab">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'main') }}</a>
                        <a href="{{ path('fos_user_security_logout') }}"
                           class="nav-item is-tab">{{ 'layout.logout'|trans({}, 'main') }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"
                           class="nav-item is-tab">{{ 'layout.login'|trans({}, 'main') }}</a>
                        <a href="{{ path('fos_user_registration_register') }}"
                           class="nav-item is-tab">{{ 'layout.register'|trans({}, 'main') }}</a>
                    {% endif %}
                </div>
            </div>
        </nav>

    {% endblock %}

    {% block header %}{% endblock %}

    {% block fos_user_content %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}

        <footer class="footer">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="content has-text-centered">
                            <h2>Kontakt</h2>
                            <p>
                                <span>Email:</span> <a href="mailto:admin@liqster.pl">admin@liqster.pl</a>
                            </p>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="content has-text-centered">
                            <h2>Media</h2>
                            <a href="https://facebook.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-facebook"></i>
                        </span>
                            </a>
                            <a href="https://instagram.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-instagram"></i>
                        </span>
                            </a>
                            <a href="https://twitter.com/liqster">
                        <span class="icon is-medium">
                            <i class="fa fa-twitter"></i>
                        </span>
                            </a>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="content has-text-centered">
                            <h2>Linki</h2>
                            <p>
                                <a href="{{ path('homepage') }}#services">Usługi</a><br>
                                <a href="{{ path('homepage') }}#price">Cennik</a><br>
                                <a href="{{ path('homepage') }}#about">O nas</a><br>
                                <a href="{{ path('homepage_termsOfService') }}">Regulamin świadczenia usług</a><br>
                                <a href="{{ path('homepage_privacyPolicy') }}">Polityka prywatności</a><br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="content has-text-centered">
                            <hr>
                            <div>
                                <h3>Legal</h3>
                                <p>The name "Instagram", "insta" or any uses "Instagram LOGO" is a copyright of
                                    Instagram,
                                    Inc.</p>
                                <p>This project is in no way affiliated with, authorized, maintained, sponsored or
                                    endorsed by
                                    Instagram, Inc or any of its affiliates or subsidiaries.
                                    I, the project owner and creator, am not responsible for any legalities that may
                                    arise in
                                    the use of this project. Use at your own risk.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}

    {% block javascripts %}

        {% javascripts
        'asset/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

    {% block javascripts_on_single_page %}
    {% endblock %}

    </body>
    </html>

{% endspaceless %}